/*--------------------------Begin the CSS--------------------------*/
html {
	font-size: 62.5%;
}
body {
	font: 1.6rem/1.5 Arial, san-serif;
	background: #333333;
	color: #EAEAEA;
}
h2 {
  padding-top: 3rem;
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
  text-transform: uppercase;
}
/*--------------------------Small Timline Section--------------------------*/
#aboutBand {
  background: #A5A5A5;
  height: 30rem;
}
#aboutBand article {
  width: 30%;
  /*float: left;*/
  display: inline-block;
}
#aboutBand article h3 {
  font-size: 2.4rem;
	color: #444444;
}
/*--------------------------Band Member Section--------------------------*/
#aboutMembers {
  position: relative;
}
#aboutMembers h3 {
  font-size: 2.4rem;
	color: #A5A5A5;
}
#aboutMembers dt {
  margin-left: 12rem;
  text-align: center;
  position: relative;
  top: 26rem;
}
#aboutMembers dl dd:nth-of-type(2) {
  margin-top: 4rem;
  text-align: center;
  color: #9B59B6;
}
#aboutMembers dl {
  float: left;
  width: 30%;
}
#aboutMembers dt {
  display: inline-block;
}
#aboutMembers img { width: 100%; }
#aboutMembers dd { margin: 0; }
#aboutMembers dl:not(:nth-of-type(3n)) { padding: 0 5rem 0 0; }
/*--------------------------Footer Section--------------------------*/
footer {
	position: absolute;
	width: 97%;
	top: 150rem;
	right: 0;
  left: 0;
  clear: both;
  display: inline-block;
}
