/*--------------------------Begin the CSS--------------------------*/
html {
	font-size: 62.5%;
}
body {
	font: 1.6rem/1.5 Arial, san-serif;
	background: #333333;
	color: #EAEAEA;
}
.button {
	position: relative;
	display: inline-block;
	padding: 0.5rem 1rem;
	background: #222222;
	border-top: transparent;
	border-left: transparent;
	height: 3rem;
	width: 13rem;
	border-bottom: 0.2rem solid #444444;
	color: #EEEEEE;
}

/*--------------------------Contact Information Section--------------------------*/
#contact {
  position: relative;
}
h2 {
  font-size: 3rem;
  text-align: center;
  text-transform:  uppercase;
}
#contact dl, #contact form {
  background: #783C90;
  position: absolute;
  top: 10rem;
}
#contact dl {
  padding: 2rem 12rem 9rem 5rem;
  left: 35rem;
}
#contact dt {
	font-size: 2.3rem;
	font-weight: bold;
	text-transform: uppercase;
	padding: 1rem 0 1.5rem 0;
}
#contact dd a, #contact dd {
	text-decoration: none;
	color: #A5A5A5;
}
#contact dd address {
	font-style: normal;
}
/*--------------------------Contact Form Section--------------------------*/
#contact form {
  top: 11.5rem;
  padding: 0 6rem 4rem 3rem;
  left: 74rem;
}
#contact form h3 {
	text-transform: uppercase;
	padding-top: 1rem;
}
#contact form p:nth-of-type(1) input, #contact form p:nth-of-type(2) input, #contact form textarea {
	display: block;
	border: transparent;
	background: #783C90;
	color: #EEEEEE;
	border-bottom: 0.3rem solid #222222;
	width: 33rem;
}
#contact form p:nth-of-type(1) input, #contact form p:nth-of-type(2) input {
	padding-bottom: 0.8rem;
}
#contact form textarea {
	height: 8rem;
}
#contact form label {
	text-transform: uppercase;
	font-size: 1.3rem;
}
#contact .error {
	color: #F1C40F;
	text-transform: none;
}
/*--------------------------Footer Section--------------------------*/
footer {
  top: 52rem;
  position: relative;
}
