/*Begin the CSS*/
html {
	font-size: 62.5%;
}
body {
	font: 1.6rem/1.5 Arial, san-serif;
	background: #333333;
	color: #EAEAEA;
}
/* Header Section */
h1 {
  padding: 5rem 0rem 0rem 0rem;
}
header nav ul {
  padding: 0rem;
  list-style-type: none;
}
header nav a {
  text-decoration: none;
  font-weight: bold;
  color: #AAAAAA;
  text-transform: uppercase;
}
nav a:hover {
  color: #EEEEEE;
}
header {
  background-image: url("../images/band.jpg");
  background-position: left center;
}
header p a {
  font-weight: bold;
  font-size: 0.875rem;
  background: #9B59B6;
  color: #EEEEEE;
  text-transform: uppercase;
  padding: 1rem 2rem 1rem 2rem;
  border-bottom: 0.3rem solid #783C90;
  text-decoration: none;
}
/*News Section*/
.wrapper {
	max-width: 90rem;
	margin: 0 auto;
}
.wrapper::after {
	content: "";
	display: block;
	clear: both;
}
#news {
	background: #fff;
	color: #333333;
}
#news article {
	width: calc(25% - 2rem);
	float: left;
	margin-bottom: 2rem;
	padding: 2rem;
}
#news article:not(:nth-of-type(2n+3)) {
	margin-right: 2rem;
}
#news article:after {
	content: "";
	display: block;
	width: 25%;
	height: 0.5rem;
	background: #ccc;
	margin-top: 1rem;
}
#news article:hover::after {
	background: purple;
}
#news .featured {
	width: 30%;
	padding-top: 5rem;
}
#news h2 {
  padding: 2rem 0rem 0rem 0rem;
  line-height: 1;
  font-size: 1.5rem;
  font-weight: bold;
  color: #888888;
  text-transform: uppercase;
}
#news h2 span::before {
  content: "";
  padding-left: 0.3rem;
  border-left: 0.3rem solid #cccccc;
}
#news h2::before {
  content: "";
  padding-left: 0.3rem;
  border-left: 0.3rem solid #cccccc;
}
#news h2 span {
  color: #444444;
  font-size: 3rem;
  font-weight: bold;
  display: block;
	text-transform: uppercase;
}
#news article {
  position: relative;
  overflow: hidden;
}
#news article h3 {
  color: #E5E5E5;
  position: relative;
  padding-bottom: 0.3rem;
  top: 6.5rem;
  z-index: 2;
}
#news article p {
  position: relative;
  color: #888888;
  z-index: 3;
}
#news article img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

}
