/*--------------------------Begin the CSS--------------------------*/
html {
	font-size: 62.5%;
}
body {
	font: 1.6rem/1.5 Arial, san-serif;
	background: #333333;
	color: #EAEAEA;
}
.button {
	/*margin-left: 13rem;*/
	position: relative;
	display: inline-block;
	padding: 0.5rem 1rem;
	background: #9B59B6;
	border-bottom: 0.2rem solid #783C90;
	color: #EEEEEE;
}
.button::before, .button:after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: #9c59b6 transparent transparent transparent;
}
.button::before {
	top: 0;
	left: 100%;
	border-width: 3.6rem 3.6rem 0 0;
}
.button::after {
	bottom: 0;
	left: calc(100% + 1.8rem);
	border-width: 1.4rem 1.4rem 0 0;
	transform: rotate(45deg);
}
/*--------------------------News Section--------------------------*/
#bandNews h2, #bandNews article h3 {
	font-weight: bold;
  text-transform: uppercase;
}
#bandNews h2 {
	text-align: center;
  font-size: 2.8rem;
}
#bandNews article h3 {
	font-size: 2.4rem;
	color: #A5A5A5;
}
#bandNews article {
	float: left;
	width: 30%;
	position: relative;
	padding: 0 0 4rem 0;
}
#bandNews article:not(:nth-of-type(3n)) {
	margin-right: 4rem;
}
#bandNews::after {
	content: "";
	clear: both;
}
#bandNews article time {
	position: absolute;
	top: 0;
}
#bandNews article p:nth-of-type(2) {
	font-size: 1.2rem;
}
#bandNews article:nth-of-type(3n)::after {
	content: "";
	display: block;
	margin-top: 1rem;
	width: 110rem;
	height: 0.5rem;
	background: #783C90;
	opacity: 0.6;
	position: absolute;
	right: 0rem;
}
.wrapper::after {
	content: "";
	display: block;
	clear: both;
}
/*--------------------------Footer Section--------------------------*/
footer {
	position: relative;
	width: 97%;
	bottom: 0;
	right: 0;
  left: 0;
  clear: both;
  display: inline-block;
}
